In [18]:
from  bs4 import BeautifulSoup
import requests
import re
import warnings;
warnings.filterwarnings('ignore');
import time
import pandas as pd

In [39]:
soup1.find(type=re.compile("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")).get('href')

'https://www.niti.gov.in/niti/writereaddata/files/bestpractices/2.%20Bageshwar.xlsx'

In [100]:
url1 = 'https://www.niti.gov.in/niti/file/221'
r1 = requests.get(url1,verify=False)
html_doc1 = r1.text
soup1 = BeautifulSoup(html_doc1)
soup1.find('title').get_text()
me = soup1.find(type=re.compile("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"))
type(me)

NoneType

In [104]:
base = 'https://www.niti.gov.in/niti/file/'
i=1
c=0
j=1
while(i is not None):
    url = base + str(i)
    r = requests.get(url,verify=False)
    html_doc = r.text
    soup = BeautifulSoup(html_doc)
    link = soup.find(type=re.compile("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"))
    if link is None:
        c += 1
        if c>5:
            break
        i += 1    
        continue    
    else:  
        c=0
        print(link.get('href'),i,j)
        j += 1
    i += 1

In [80]:
import warnings;
warnings.filterwarnings('ignore');

url = 'https://www.niti.gov.in/niti/file/322'
r = requests.get(url,verify=False)
html_doc = r.text
re.findall(r'https://www.niti.gov.in/niti/writereaddata.*.xlsx"',html_doc)[0].replace('"','')

'https://www.niti.gov.in/niti/writereaddata/files/bestpractices/11.%20Zunheboto.xlsx'

In [95]:
base = 'https://www.niti.gov.in/niti/file/'
i=192
while(i<209):
    url = base + str(i)
    r = requests.get(url,verify=False)
    html_doc = r.text
    link = re.findall(r'https://www.niti.gov.in/niti/writereaddata.*.xlsx"',html_doc)
    if not link:
        break
    else:    
        print(link[0].replace('"',''))
    i += 1

https://www.niti.gov.in/niti/writereaddata/files/bestpractices/1.%20Nicobar.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/2.%20North%20and%20Middle%20Andaman.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/3.%20South%20Andaman%20%28Andaman%29.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/1.%20Anantapur.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/2.%20Chittoor.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/3.East%20Godavari.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/4.%20Guntur.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/5.%20YSR%20%28Kadapa%29.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/6.%20Krishna.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/7.%20Kurnool.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/8.%20%20Prakasam.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/9.%20Sri%20Potti%20Sriramulu%20Nellore.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/10.%20Srikakulam.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/11.%20%20Visakhapatnam.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/12.%20Vizianagaram.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/13.%20West%20Godavari.xlsx
https://www.niti.gov.in/niti/writereaddata/files/bestpractices/1.%20Anjaw.xlsx

In [87]:
not link

True

In [15]:
base = 'https://www.niti.gov.in/niti/file/'
i=976
j=1
while(i<1500):
    url = base + str(i)
    r = None
    while(r is None):
        try:
            r = requests.get(url,verify=False)
        except:
            time.sleep(5)
    html_doc = r.text
    soup = BeautifulSoup(html_doc)
    link = soup.find(type=re.compile("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"))
    if link is None:
        i += 1    
        continue    
    else:  
        print(link.get('href'),i,j)
        j += 1
    i += 1

https://www.niti.gov.in/niti/writereaddata/files/bestpractices/32.%20Virudhunagar.xlsx 976 1

In [22]:
popdf = pd.read_excel(r'C:\Users\Hari\Downloads\DDW_PCA0000_2011_Indiastatedist.xlsx')
popdf.drop(popdf.columns[2:6], axis=1, inplace=True)
popdf.head()

,State,District,Level,Name,TRU,No_HH,TOT_P,TOT_M,TOT_F,P_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,India,India,Total,249501663,1210854977,623270258,587584719,164515253,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,0,0,India,India,Rural,168612897,833748852,427781058,405967794,121322865,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
2,0,0,India,India,Urban,80888766,377106125,195489200,181616925,43192388,...,179581,265373,105347,160026,1715050,1110265,604785,243960349,90386338,153574011
3,1,0,STATE,JAMMU & KASHMIR,Total,2119718,12541302,6640662,5900640,2018905,...,44570,26585,6780,19805,108457,56880,51577,8218589,3445572,4773017
4,1,0,STATE,JAMMU & KASHMIR,Rural,1553433,9108060,4774477,4333583,1593008,...,40936,21963,5757,16206,89232,45625,43607,5994979,2562471,3432508

In [52]:
jkdf = popdf[(popdf['State']==1) & (popdf['Level']=='DISTRICT')]
jkdf

,State,District,Level,Name,TRU,No_HH,TOT_P,TOT_M,TOT_F,P_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,DISTRICT,Kupwara,Total,113929,870354,474190,396164,188798,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,DISTRICT,Kupwara,Rural,101930,765625,412038,353587,169588,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,DISTRICT,Kupwara,Urban,11999,104729,62152,42577,19210,...,62,86,41,45,725,578,147,71658,33245,38413
9,1,2,DISTRICT,Badgam,Total,103363,753745,398041,355704,155202,...,2035,3823,1148,2675,4674,2393,2281,538879,235463,303416
10,1,2,DISTRICT,Badgam,Rural,89417,655833,343385,312448,140608,...,2000,3652,1107,2545,3585,1740,1845,474065,208816,265249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,1,21,DISTRICT,Jammu,Rural,159291,764945,401603,363342,94101,...,1598,518,198,320,4290,3485,805,528237,206087,322150
68,1,21,DISTRICT,Jammu,Urban,154908,765013,412218,352795,73262,...,66,206,59,147,2899,2077,822,493099,190278,302821
69,1,22,DISTRICT,Samba,Total,65385,318898,169124,149774,38669,...,262,91,69,22,2192,1705,487,226372,87172,139200
70,1,22,DISTRICT,Samba,Rural,54718,265283,139365,125918,32890,...,259,84,64,20,2008,1559,449,190374,73242,117132
71,1,22,DISTRICT,Samba,Urban,10667,53615,29759,23856,5779,...,3,7,5,2,184,146,38,35998,13930,22068

In [54]:
jkdf.iloc[0:3]

,State,District,Level,Name,TRU,No_HH,TOT_P,TOT_M,TOT_F,P_06,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
6,1,1,DISTRICT,Kupwara,Total,113929,870354,474190,396164,188798,...,1955,1216,597,619,7369,4727,2642,641290,283291,357999
7,1,1,DISTRICT,Kupwara,Rural,101930,765625,412038,353587,169588,...,1893,1130,556,574,6644,4149,2495,569632,250046,319586
8,1,1,DISTRICT,Kupwara,Urban,11999,104729,62152,42577,19210,...,62,86,41,45,725,578,147,71658,33245,38413