In [1]:
import re
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore');
from  bs4 import BeautifulSoup
import requests
import time

In [3]:
string = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',header=None,nrows=2)[0][0]
string

'STATE: ANDHRA PRADESH; DISTRICT: ANANTAPUR'

In [131]:
string = pd.read_excel(r'C:\Users\Hari\Downloads\1. Nicobar.xlsx',header=None,nrows=2)[0][0]
string

'UNION TERRITORY: ANDAMAN AND NICOBAR ISLANDS; DISTRICT: NICOBAR'

In [134]:
extract_names(string)

['ANDAMAN AND NICOBAR ISLANDS', 'NICOBAR']

In [2]:
def extract_names(string):
    nlist = re.findall(r"([a-zA-Z]+)",string)
    state = ''
    district = ''
    for i,v in enumerate(nlist):
        if v == 'UNION':
            continue
        if v == 'STATE' or v == 'TERRITORY':
            flag = False
        elif v != 'DISTRICT' and flag == False:
            state += v 
            if nlist[i+1] != 'DISTRICT':
                state += ' ' 
        elif nlist[i] == 'DISTRICT':
            flag = True
        if flag == True and v != 'DISTRICT':
            district += v
            if i+1 != len(nlist):
                district += ' '
    return [state,district]

In [ ]:
names = extract_names(string)

In [93]:
healthdf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(4),usecols=[0,1,4,7,10],header=None,nrows=25)
healthdf = healthdf.T
healthdf.columns = [healthdf.iloc[0], healthdf.iloc[1]]
healthdf = healthdf[2:]
healthdf.columns = healthdf.columns.rename(["",""], level=[0,1])
healthdf['state'] = names[0]
healthdf['district'] = names[1]
healthdf = healthdf.set_index(['state','district'])
healthdf

                                                                  A.1  \
                         Sex Ratio (Number of females per 1000 males)
state          district
ANDHRA PRADESH ANANTAPUR                                          977
               ANANTAPUR                                          971
               ANANTAPUR                                          991

                                                                             A.2  \
                         Births to women aged 15-19years out of total births (%)
state          district
ANDHRA PRADESH ANANTAPUR                                                3.4
               ANANTAPUR                                                4.4
               ANANTAPUR                                      Not available

                                                                                    A.3  \
                         Mean number of children ever born to women aged 40-49years (#)
state          district
ANDHRA PRADESH ANANTAPUR                                                2.9
               ANANTAPUR                                                  3
               ANANTAPUR                                      Not available

                                                                A.4  \
                         Current use of family planning methods (%)
state          district
ANDHRA PRADESH ANANTAPUR                                       65.6
               ANANTAPUR                                         63
               ANANTAPUR                              Not available

                                                                             A.5  \
                         Current use of any modern method of family planning (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               65.4
               ANANTAPUR                                               62.7
               ANANTAPUR                                      Not available

                                                              A.6  \
                         Total unmet need for family planning (%)
state          district
ANDHRA PRADESH ANANTAPUR                                     16.1
               ANANTAPUR                                     16.7
               ANANTAPUR                            Not available

                                                  A.7  \
                         Institutional Deliveries (%)
state          district
ANDHRA PRADESH ANANTAPUR                           82
               ANANTAPUR                         77.4
               ANANTAPUR                Not available

                                                                                  A.8  \
                         Deliveries at home conducted by skilled health personnel (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               10.9
               ANANTAPUR                                               12.8
               ANANTAPUR                                      Not available

                                                                A.9  \
                         Children who received full vaccination (%)
state          district
ANDHRA PRADESH ANANTAPUR                                       66.2
               ANANTAPUR                                       66.7
               ANANTAPUR                              Not available

                                                    A.10  ...  \
                         Prevalence of Acute illness (%)  ...
state          district                                   ...
ANDHRA PRADESH ANANTAPUR                             5.8  ...
               ANANTAPUR                             6.7  ...
               ANANTAPUR                   Not available  ...

                                                                       A.16  \
                         Prevalence of Anaemia in women aged 15-49years (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               63.2
               ANANTAPUR                                               67.9
               ANANTAPUR                                      Not available

                                                                              A.17  \
                         Prevalence of Severe Anaemia in women aged 15-49years (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               12.4
               ANANTAPUR                                               14.8
               ANANTAPUR                                      Not available

                                                   A.18  \
                         Mean age at marriage for girls
state          district
ANDHRA PRADESH ANANTAPUR                           25.1
               ANANTAPUR                             24
               ANANTAPUR                  Not available

                                                  A.19  \
                         Mean age at marriage for boys
state          district
ANDHRA PRADESH ANANTAPUR                          19.4
               ANANTAPUR                          19.3
               ANANTAPUR                 Not available

                                                                             A.20  \
                         Currently married women married below 18years of age (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               19.4
               ANANTAPUR                                               21.6
               ANANTAPUR                                      Not available

                                                                           A.21  \
                         Currently married men married below 21years of age (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               10.4
               ANANTAPUR                                               14.8
               ANANTAPUR                                      Not available

                                                                    A.22  \
                         Villages with Sub-Health Centres within 3km (%)
state          district
ANDHRA PRADESH ANANTAPUR                                            84.1
               ANANTAPUR                                  Not applicable
               ANANTAPUR                                             NaN

                                                                        A.23  \
                         Villages with Primary Health Centre within 10km (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               79.6
               ANANTAPUR                                     Not applicable
               ANANTAPUR                                                NaN

                                                              A.24  \
                         PHCs functioning on a 24x7hours basis (%)
state          district
ANDHRA PRADESH ANANTAPUR                                      69.7
               ANANTAPUR                            Not applicable
               ANANTAPUR                                       NaN

                                                     A.25
                         Number of District Hospitals (#)
state          district
ANDHRA PRADESH ANANTAPUR                                2
               ANANTAPUR                   Not applicable
               ANANTAPUR                              NaN

[3 rows x 25 columns]

In [103]:
thealthdf = healthdf.iloc[[0],:]
rhealthdf = healthdf.iloc[[1],:]
uhealthdf = healthdf.iloc[[2],:]

In [115]:
litdf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(30),usecols=[5,8,11],header=None,nrows=1)
litdf.columns = [['Literacy Rate (%)']*3, ['Total','Male','Female']]
litdf.columns = litdf.columns.rename(["",""], level=[0,1])
litdf['state'] = names[0]
litdf['district'] = names[1]
litdf = litdf.set_index(['state','district'])
litdf

                         Literacy Rate (%)
                                     Total   Male Female
state          district
ANDHRA PRADESH ANANTAPUR             63.57  73.02  53.97

In [141]:
edudf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(31),usecols=[0,1,4,8],header=None,nrows=13)
edudf = edudf.T
edudf.columns = [edudf.iloc[0], edudf.iloc[1]]
edudf = edudf[2:]
edudf.columns = edudf.columns.rename(["",""], level=[0,1])
edudf['state'] = names[0]
edudf['district'] = names[1]
edudf = edudf.set_index(['state','district'])
edudf = edudf.rename(columns={np.nan: "section"})
edudf = edudf.iloc[:,1:]
edudf

                                                           B.2  \
                                     Gross Enrolment Ratio (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                       94.7
                            NICOBAR                       77.4

                                                         B.3  \
                                     Net Enrolment Ratio (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                       78
                            NICOBAR                     56.7

                                                   B.4  \
                                     Drop Out Rate (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                1.6
                            NICOBAR               4.35

                                                         B.5  \
                                     Pupil-Teacher Ratio (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                       28
                            NICOBAR                        0

                                                             B.6  \
                                     Student-Classroom Ratio (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                           23
                            NICOBAR                            0

                                                      B.7                 B.8  \
                                     Girl's Enrolment (%) Female Teachers (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                  48.2                47.4
                            NICOBAR                     0                   0

                                                                       B.9  \
                                     New Government Schools since 2003 (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                                    3.8
                            NICOBAR                                      0

                                                              B.10  \
                                     Schools with girls toilet (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                           57.4
                            NICOBAR                              0

                                                             B.11  \
                                     Schools with boys toilet (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                          39.3
                            NICOBAR                             0

                                                                         B.12  \
                                     Schools with drinking water facility (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                                      78.9
                            NICOBAR                                         0

                                                             B.13
                                     Schools with electricity (%)
state                       district
ANDAMAN AND NICOBAR ISLANDS NICOBAR                          89.9
                            NICOBAR                             0

In [143]:
pedudf = edudf.iloc[0:1, :]
uedudf = edudf.iloc[1:2,:]

In [31]:
elecdf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(45),usecols=[0,1,4,5,7,8,10,11],header=None,nrows=7)
#elecdf = elecdf.T
#tempdf = elecdf.loc[[3],:]
#elecdf = elecdf.loc[[2,1,4,5,6], :]
elecdf

,0,1,4,5,7,8,10,11
0,NaN,NaN,Total,NaN,Rural,NaN,Urban,NaN
1,C.1,Households with electricity (%),99.2,NaN,98.7,NaN,Not available,NaN
2,C.2,Total Households in District (#),961165,NaN,698439,NaN,262726,NaN
3,NaN,NaN,% (out of total HH),#,% (out of total rural HH),#,% (out of total urban HH),#
4,C.3,Households with electricity as main source of ...,93.4252,897970,91.9284,642064,97.4041,255906
5,C.4,Households with solar energy as main source of...,0.234611,2255,0.227794,1591,0.252735,664
6,C.5,Households with no lighting,0.277892,2671,0.334031,2333,0.128651,338

In [56]:
newdf = elecdf.loc[[1,2,4,5,6], [0,1,4,7,10]]
#newdf.columns = [newdf.iloc[0]]
#newdf = newdf[1:]
newdf.T
#df.columns = pd.MultiIndex.from_tuples(zip([,], newdf.iloc[0])

,1,2,4,5,6
0,C.1,C.2,C.3,C.4,C.5
1,Households with electricity (%),Total Households in District (#),Households with electricity as main source of ...,Households with solar energy as main source of...,Households with no lighting
4,99.2,961165,93.4252,0.234611,0.277892
7,98.7,698439,91.9284,0.227794,0.334031
10,Not available,262726,97.4041,0.252735,0.128651

In [87]:
elecdf = elecdf.loc[[1,2,4,5,6], [0,1,4,7,10]]
elecdf = elecdf.T
elecdf.columns = [elecdf.iloc[0], elecdf.iloc[1]]
elecdf = elecdf[2:]
elecdf.columns = elecdf.columns.rename(["",""], level=[0,1])
elecdf['state'] = names[0]
elecdf['district'] = names[1]
elecdf = elecdf.set_index(['state','district'])
elecdf

                                                     C.1  \
                         Households with electricity (%)
state          district
ANDHRA PRADESH ANANTAPUR                            99.2
               ANANTAPUR                            98.7
               ANANTAPUR                   Not available

                                                      C.2  \
                         Total Households in District (#)
state          district
ANDHRA PRADESH ANANTAPUR                           961165
               ANANTAPUR                           698439
               ANANTAPUR                           262726

                                                                            C.3  \
                         Households with electricity as main source of lighting
state          district
ANDHRA PRADESH ANANTAPUR                                            93.4252
               ANANTAPUR                                            91.9284
               ANANTAPUR                                            97.4041

                                                                             C.4  \
                         Households with solar energy as main source of lighting
state          district
ANDHRA PRADESH ANANTAPUR                                           0.234611
               ANANTAPUR                                           0.227794
               ANANTAPUR                                           0.252735

                                                 C.5
                         Households with no lighting
state          district
ANDHRA PRADESH ANANTAPUR                    0.277892
               ANANTAPUR                    0.334031
               ANANTAPUR                    0.128651

In [102]:
telecdf = elecdf.iloc[[0],:]
relecdf = elecdf.iloc[[1],:]
uelecdf = elecdf.iloc[[2],:]

In [116]:
waterdf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(53),usecols=[0,1,4,5,7,8,10,11],header=None,nrows=7)

waterdf = waterdf.loc[[1,2,4,5,6], [0,1,4,7,10]]
waterdf = waterdf.T
waterdf.columns = [waterdf.iloc[0], waterdf.iloc[1]]
waterdf = waterdf[2:]
waterdf.columns = waterdf.columns.rename(["",""], level=[0,1])
waterdf['state'] = names[0]
waterdf['district'] = names[1]
waterdf = waterdf.set_index(['state','district'])
waterdf

                                                                           D.1  \
                         Households with improved source of drinking water (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               98.6
               ANANTAPUR                                               98.2
               ANANTAPUR                                      Not available

                                                  D.2  \
                         Total Households in District
state          district
ANDHRA PRADESH ANANTAPUR                       961165
               ANANTAPUR                       698439
               ANANTAPUR                       262726

                                                                                   D.3  \
                         Households with main source of drinking water within premises
state          district
ANDHRA PRADESH ANANTAPUR                                            23.4377
               ANANTAPUR                                            15.9846
               ANANTAPUR                                            43.2511

                                                                            D.4  \
                         Households receiving treated tap water within premises
state          district
ANDHRA PRADESH ANANTAPUR                                            15.7493
               ANANTAPUR                                            7.65407
               ANANTAPUR                                              37.27

                                                                              D.5
                         Households receiving untreated tap water within premises
state          district
ANDHRA PRADESH ANANTAPUR                                            6.66025
               ANANTAPUR                                            7.32677
               ANANTAPUR                                            4.88836

In [117]:
twaterdf = waterdf.iloc[[0],:]
rwaterdf = waterdf.iloc[[1],:]
uwaterdf = waterdf.iloc[[2],:]

In [120]:
teledf = pd.read_excel(r'C:\Users\Hari\Downloads\1. Anantapur.xlsx',skiprows=range(62),usecols=[0,1,4,7,10],header=None,nrows=4)

teledf = teledf.T
teledf.columns = [teledf.iloc[0], teledf.iloc[1]]
teledf = teledf[2:]
teledf.columns = teledf.columns.rename(["",""], level=[0,1])
teledf['state'] = names[0]
teledf['district'] = names[1]
teledf = teledf.set_index(['state','district'])
teledf

                                                        E.1  \
                         Households with landline phone (%)
state          district
ANDHRA PRADESH ANANTAPUR                               1.19
               ANANTAPUR                               0.97
               ANANTAPUR                               1.59

                                                      E.2  \
                         Households with mobile phone (%)
state          district
ANDHRA PRADESH ANANTAPUR                            54.92
               ANANTAPUR                            49.76
               ANANTAPUR                            64.58

                                                                                  E.3
                         Households with computer/laptop with internet connection (%)
state          district
ANDHRA PRADESH ANANTAPUR                                               0.57
               ANANTAPUR                                               0.29
               ANANTAPUR                                                1.1

In [121]:
tteledf = teledf.iloc[[0],:]
rteledf = teledf.iloc[[1],:]
uteledf = teledf.iloc[[2],:]

In [3]:
thealth_df = pd.DataFrame()
rhealth_df = pd.DataFrame()
uhealth_df = pd.DataFrame()
lit_df = pd.DataFrame()
pedu_df = pd.DataFrame()
uedu_df = pd.DataFrame()
telec_df = pd.DataFrame()
relec_df = pd.DataFrame()
uelec_df = pd.DataFrame()
twater_df = pd.DataFrame()
rwater_df = pd.DataFrame()
uwater_df = pd.DataFrame()
ttele_df = pd.DataFrame()
rtele_df = pd.DataFrame()
utele_df = pd.DataFrame()

In [ ]:

base = 'https://www.niti.gov.in/niti/file/'
i=192
j=1
c=1
while(i<1000):
    url = base + str(i)
    r = None
    while(r is None):
        try:
            r = requests.get(url,verify=False)
        except:
            time.sleep(5)
    html_doc = r.text
    soup = BeautifulSoup(html_doc)
    link = soup.find(type=re.compile("application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"))
    if link is None:
        i += 1    
        continue    
    else:  
        url = link.get('href')
        
        string = pd.read_excel(url,header=None,nrows=2)[0][0]
        print(string,i,c)
        c += 1
        names = extract_names(string)
        
        healthdf = pd.read_excel(url,skiprows=range(4),usecols=[0,1,4,7,10],header=None,nrows=25)
        healthdf = healthdf.T
        healthdf.columns = [healthdf.iloc[0], healthdf.iloc[1]]
        healthdf = healthdf[2:]
        healthdf.columns = healthdf.columns.rename(["",""], level=[0,1])
        healthdf['state'] = names[0]
        healthdf['district'] = names[1]
        healthdf = healthdf.set_index(['state','district'])
        
        thealth_df = thealth_df.append(healthdf.iloc[[0],:])
        rhealth_df = rhealth_df.append(healthdf.iloc[[1],:])
        uhealth_df = uhealth_df.append(healthdf.iloc[[2],:])
        
        litdf = pd.read_excel(url,skiprows=range(30),usecols=[5,8,11],header=None,nrows=1)
        litdf.columns = [['Literacy Rate (%)']*3, ['Total','Male','Female']]
        litdf.columns = litdf.columns.rename(["",""], level=[0,1])
        litdf['state'] = names[0]
        litdf['district'] = names[1]
        litdf = litdf.set_index(['state','district'])

        lit_df = lit_df.append(litdf)
        
        edudf = pd.read_excel(url,skiprows=range(31),usecols=[0,1,4,8],header=None,nrows=13)
        edudf = edudf.T
        edudf.columns = [edudf.iloc[0], edudf.iloc[1]]
        edudf = edudf[2:]
        edudf.columns = edudf.columns.rename(["",""], level=[0,1])
        edudf['state'] = names[0]
        edudf['district'] = names[1]
        edudf = edudf.set_index(['state','district'])
        edudf = edudf.rename(columns={np.nan: "section"})
        edudf = edudf.iloc[:,1:]

        pedu_df = pedu_df.append(edudf.iloc[0:1, :])
        uedu_df = uedu_df.append(edudf.iloc[1:2,:])

        elecdf = pd.read_excel(url,skiprows=range(45),usecols=[0,1,4,5,7,8,10,11],header=None,nrows=7)
        elecdf = elecdf.loc[[1,2,4,5,6], [0,1,4,7,10]]
        elecdf = elecdf.T
        elecdf.columns = [elecdf.iloc[0], elecdf.iloc[1]]
        elecdf = elecdf[2:]
        elecdf.columns = elecdf.columns.rename(["",""], level=[0,1])
        elecdf['state'] = names[0]
        elecdf['district'] = names[1]
        elecdf = elecdf.set_index(['state','district'])

        telec_df = telec_df.append(elecdf.iloc[[0],:])
        relec_df = relec_df.append(elecdf.iloc[[1],:])
        uelec_df = uelec_df.append(elecdf.iloc[[2],:])

        waterdf = pd.read_excel(url,skiprows=range(53),usecols=[0,1,4,5,7,8,10,11],header=None,nrows=7)
        waterdf = waterdf.loc[[1,2,4,5,6], [0,1,4,7,10]]
        waterdf = waterdf.T
        waterdf.columns = [waterdf.iloc[0], waterdf.iloc[1]]
        waterdf = waterdf[2:]
        waterdf.columns = waterdf.columns.rename(["",""], level=[0,1])
        waterdf['state'] = names[0]
        waterdf['district'] = names[1]
        waterdf = waterdf.set_index(['state','district'])

        twater_df = twater_df.append(waterdf.iloc[[0],:])
        rwater_df = rwater_df.append(waterdf.iloc[[1],:])
        uwater_df = uwater_df.append(waterdf.iloc[[2],:])

        teledf = pd.read_excel(url,skiprows=range(62),usecols=[0,1,4,7,10],header=None,nrows=4)
        teledf = teledf.T
        teledf.columns = [teledf.iloc[0], teledf.iloc[1]]
        teledf = teledf[2:]
        teledf.columns = teledf.columns.rename(["",""], level=[0,1])
        teledf['state'] = names[0]
        teledf['district'] = names[1]
        teledf = teledf.set_index(['state','district'])

        ttele_df = ttele_df.append(teledf.iloc[[0],:])
        rtele_df = rtele_df.append(teledf.iloc[[1],:])
        utele_df = utele_df.append(teledf.iloc[[2],:])
        
        j += 1
    i += 1

In [ ]:
thealth_df.head()